<% layout('layout/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger text-center" role="alert">
            <h4><%= err.message || 'Unknown error occurred.' %></h4>
            </h4>
        </div>
    </div>
</div>